html, body {
    width: 100%;
    height: 100%;
}

#LoadingSpinner {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 999999;
    background-color: rgba(0, 0, 0, 0.5);
}

#LoadingSpinner.show {
    display: flex;
}